/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
/* common */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}
body {
  font-family: var(--fontFamily);
  background-color: #000;
}

.sticky {
  position: fixed;
  top: -60px;
  width: 100%;
  z-index: 3;
  animation: goDown 0.5s ease-in-out forwards;
  background: #fff;
  -webkit-animation: goDown 0.5s ease-in-out forwards;
  box-shadow: 0px 1px 15px -8px #000;
}
@keyframes goDown {
  0% {
    top: -60px;
  }
  100% {
    transform: translateY(60px);
  }
}
.sticky + .content {
  padding-top: 60px;
}
/* common */

/* variable csss */
:root {
  --fontFamily: "Roboto", sans-serif;
  --color: #212529;
}
/* variable csss */

/* header */
header .navbar {
  padding: 0;

  background-color: transparent;
}
header .navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
header .navbar .navbar-brand {
  background-color: #064054;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  width: calc(100% - 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  padding: 20px 0;
  margin: 0 auto;
}
header .navbar .navbar-brand img {
  border-radius: 10px;
}
/* navbar ends */

/* hero */
.hero {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.hero h2 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.hero a {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  background: rgb(13, 56, 72);
  max-width: 600px;
  border-radius: 20px;
  padding: 10px 3rem;
  background: #0d3848;
}
.hero a i {
  font-weight: 600;
}
.hero .swiper {
  max-width: 400px;
}
.hero .swiper .swiper-slide {
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .swiper .swiper-slide img {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1912px 1101px #fff, 1227px 40px #fff, 70px 1534px #fff,
    519px 1268px #fff, 276px 244px #fff, 1764px 1808px #fff, 1852px 1124px #fff,
    1164px 85px #fff, 1491px 1151px #fff, 1346px 521px #fff, 1322px 653px #fff,
    338px 1396px #fff, 408px 1866px #fff, 61px 1005px #fff, 205px 1191px #fff,
    790px 1156px #fff, 1716px 71px #fff, 33px 1486px #fff, 918px 598px #fff,
    1914px 1120px #fff, 719px 1514px #fff, 1507px 1572px #fff,
    1064px 1205px #fff, 1730px 1681px #fff, 723px 1585px #fff, 1907px 16px #fff,
    81px 1819px #fff, 1777px 693px #fff, 1052px 1189px #fff, 1659px 1974px #fff,
    280px 1149px #fff, 1631px 1679px #fff, 1912px 1182px #fff,
    1932px 1056px #fff, 737px 1285px #fff, 1441px 788px #fff, 1040px 1190px #fff,
    1674px 1026px #fff, 1258px 102px #fff, 1113px 304px #fff, 161px 644px #fff,
    1442px 66px #fff, 97px 1383px #fff, 925px 967px #fff, 1473px 242px #fff,
    1203px 605px #fff, 709px 320px #fff, 189px 1022px #fff, 141px 989px #fff,
    1033px 1785px #fff, 1572px 819px #fff, 1874px 1048px #fff, 1241px 141px #fff,
    1396px 1209px #fff, 1744px 483px #fff, 737px 1651px #fff, 1560px 280px #fff,
    1536px 1997px #fff, 43px 593px #fff, 1804px 1131px #fff, 1831px 1437px #fff,
    569px 202px #fff, 86px 464px #fff, 1153px 1122px #fff, 963px 1523px #fff,
    684px 1956px #fff, 1567px 1173px #fff, 442px 1476px #fff, 868px 791px #fff,
    1498px 278px #fff, 408px 225px #fff, 1818px 1347px #fff, 876px 1010px #fff,
    883px 624px #fff, 369px 1485px #fff, 1694px 1231px #fff, 1537px 565px #fff,
    1680px 636px #fff, 1152px 1421px #fff, 665px 1689px #fff, 199px 523px #fff,
    1692px 1950px #fff, 1966px 835px #fff, 1614px 955px #fff, 1152px 1499px #fff,
    922px 1159px #fff, 1019px 705px #fff, 1143px 743px #fff, 405px 1839px #fff,
    1216px 1659px #fff, 1931px 610px #fff, 1679px 1547px #fff, 1px 1813px #fff,
    1222px 1555px #fff, 1792px 831px #fff, 1290px 197px #fff, 709px 308px #fff,
    246px 1166px #fff, 795px 1614px #fff, 760px 1220px #fff, 1740px 1289px #fff,
    1222px 593px #fff, 438px 902px #fff, 454px 499px #fff, 213px 1450px #fff,
    1563px 135px #fff, 875px 1005px #fff, 1241px 307px #fff, 865px 1263px #fff,
    1140px 1685px #fff, 878px 244px #fff, 1078px 451px #fff, 542px 1194px #fff,
    294px 505px #fff, 710px 171px #fff, 1390px 271px #fff, 435px 31px #fff,
    14px 1513px #fff, 1152px 452px #fff, 1193px 245px #fff, 1901px 578px #fff,
    306px 1628px #fff, 297px 1792px #fff, 1392px 363px #fff, 467px 1920px #fff,
    68px 84px #fff, 1426px 1124px #fff, 1271px 1386px #fff, 345px 1048px #fff,
    1212px 755px #fff, 46px 516px #fff, 1747px 810px #fff, 308px 1353px #fff,
    1540px 415px #fff, 247px 229px #fff, 1537px 958px #fff, 1235px 406px #fff,
    1534px 1718px #fff, 1887px 768px #fff, 145px 1813px #fff, 839px 994px #fff,
    1263px 731px #fff, 82px 1289px #fff, 1168px 1022px #fff, 1124px 272px #fff,
    1746px 1588px #fff, 1160px 823px #fff, 1584px 1261px #fff, 153px 315px #fff,
    1760px 1404px #fff, 1150px 140px #fff, 1415px 1212px #fff,
    1211px 1626px #fff, 1281px 1243px #fff, 1314px 1437px #fff,
    1873px 1998px #fff, 911px 1253px #fff, 718px 530px #fff, 1778px 1502px #fff,
    1658px 121px #fff, 336px 1435px #fff, 1234px 873px #fff, 619px 163px #fff,
    856px 369px #fff, 863px 1975px #fff, 1181px 1533px #fff, 711px 387px #fff,
    930px 1475px #fff, 1149px 1525px #fff, 745px 1471px #fff, 500px 1003px #fff,
    1242px 1953px #fff, 609px 318px #fff, 983px 615px #fff, 1969px 1423px #fff,
    224px 337px #fff, 469px 904px #fff, 722px 508px #fff, 456px 713px #fff,
    597px 4px #fff, 395px 138px #fff, 232px 1415px #fff, 617px 1016px #fff,
    1015px 973px #fff, 33px 366px #fff, 1567px 1717px #fff, 315px 506px #fff,
    1460px 79px #fff, 1486px 1535px #fff, 448px 978px #fff, 695px 1351px #fff,
    1138px 229px #fff, 502px 1699px #fff, 1975px 1892px #fff, 984px 513px #fff,
    952px 9px #fff, 1423px 1578px #fff, 923px 1831px #fff, 1854px 1801px #fff,
    686px 1277px #fff, 453px 1002px #fff, 1890px 491px #fff, 1021px 810px #fff,
    814px 1663px #fff, 1877px 1534px #fff, 1758px 61px #fff, 107px 1043px #fff,
    1498px 1884px #fff, 380px 1406px #fff, 656px 683px #fff, 1465px 936px #fff,
    961px 1773px #fff, 682px 1429px #fff, 1345px 1418px #fff, 1321px 677px #fff,
    1667px 1745px #fff, 503px 486px #fff, 1359px 214px #fff, 783px 1049px #fff,
    1864px 358px #fff, 1773px 1099px #fff, 1916px 669px #fff, 1447px 563px #fff,
    267px 498px #fff, 1446px 1830px #fff, 552px 1837px #fff, 1933px 183px #fff,
    503px 191px #fff, 9px 1247px #fff, 1118px 1598px #fff, 1779px 1144px #fff,
    843px 607px #fff, 1198px 1814px #fff, 1145px 726px #fff, 742px 1398px #fff,
    1372px 776px #fff, 358px 180px #fff, 942px 534px #fff, 1934px 476px #fff,
    1063px 908px #fff, 319px 1512px #fff, 423px 1510px #fff, 326px 966px #fff,
    1126px 773px #fff, 1027px 161px #fff, 1183px 939px #fff, 557px 1526px #fff,
    714px 1502px #fff, 488px 517px #fff, 200px 893px #fff, 184px 67px #fff,
    1888px 1377px #fff, 924px 979px #fff, 1667px 1512px #fff, 1815px 1564px #fff,
    1946px 135px #fff, 1624px 656px #fff, 364px 1199px #fff, 346px 1182px #fff,
    1573px 727px #fff, 790px 343px #fff, 1853px 502px #fff, 1324px 462px #fff,
    966px 1505px #fff, 997px 1978px #fff, 98px 445px #fff, 1796px 1850px #fff,
    1186px 1909px #fff, 1365px 1136px #fff, 1612px 1740px #fff,
    1943px 1979px #fff, 1762px 1412px #fff, 586px 1088px #fff, 1333px 455px #fff,
    1410px 117px #fff, 171px 1672px #fff, 1052px 1223px #fff, 1268px 193px #fff,
    1730px 707px #fff, 891px 599px #fff, 1028px 977px #fff, 1116px 327px #fff,
    1204px 1762px #fff, 28px 1364px #fff, 1485px 126px #fff, 938px 1949px #fff,
    1427px 1579px #fff, 1222px 245px #fff, 106px 302px #fff, 1944px 290px #fff,
    1278px 614px #fff, 850px 1792px #fff, 1684px 787px #fff, 8px 76px #fff,
    378px 1223px #fff, 1250px 526px #fff, 811px 1398px #fff, 1959px 605px #fff,
    1735px 1437px #fff, 1619px 1484px #fff, 485px 1123px #fff, 1407px 751px #fff,
    250px 974px #fff, 13px 1540px #fff, 61px 123px #fff, 1209px 1851px #fff,
    831px 128px #fff, 218px 1107px #fff, 1163px 768px #fff, 361px 1605px #fff,
    1277px 1636px #fff, 1226px 1649px #fff, 1255px 393px #fff,
    1096px 1847px #fff, 482px 1974px #fff, 1568px 464px #fff, 580px 932px #fff,
    1077px 1607px #fff, 34px 1840px #fff, 370px 744px #fff, 950px 1689px #fff,
    677px 565px #fff, 1442px 820px #fff, 1261px 322px #fff, 431px 1236px #fff,
    118px 1639px #fff, 1750px 1380px #fff, 216px 38px #fff, 926px 1976px #fff,
    46px 1718px #fff, 62px 1201px #fff, 1850px 711px #fff, 612px 1496px #fff,
    1587px 1659px #fff, 53px 1694px #fff, 768px 750px #fff, 132px 1142px #fff,
    1001px 873px #fff, 1216px 1696px #fff, 928px 1242px #fff, 132px 118px #fff,
    1863px 1980px #fff, 1718px 127px #fff, 767px 560px #fff, 503px 966px #fff,
    199px 1571px #fff, 1277px 788px #fff, 916px 304px #fff, 1934px 305px #fff,
    982px 1524px #fff, 372px 1764px #fff, 1038px 973px #fff, 266px 1758px #fff,
    525px 1776px #fff, 1558px 1359px #fff, 1638px 427px #fff, 432px 146px #fff,
    429px 312px #fff, 1430px 701px #fff, 1552px 829px #fff, 1279px 1190px #fff,
    887px 1033px #fff, 1593px 1428px #fff, 389px 1785px #fff, 365px 1833px #fff,
    606px 498px #fff, 1543px 682px #fff, 240px 188px #fff, 1272px 828px #fff,
    486px 94px #fff, 1350px 734px #fff, 135px 843px #fff, 1117px 1524px #fff,
    878px 1104px #fff, 726px 51px #fff, 1609px 1860px #fff, 377px 951px #fff,
    1592px 314px #fff, 1754px 781px #fff, 87px 1334px #fff, 1283px 760px #fff,
    585px 1593px #fff, 390px 582px #fff, 190px 162px #fff, 914px 1109px #fff,
    24px 647px #fff, 888px 1492px #fff, 1809px 1917px #fff, 1341px 4px #fff,
    1888px 1006px #fff, 1647px 1104px #fff, 314px 1411px #fff, 1062px 569px #fff,
    677px 125px #fff, 1510px 206px #fff, 1907px 1575px #fff, 236px 415px #fff,
    1213px 182px #fff, 561px 72px #fff, 1595px 1686px #fff, 1057px 272px #fff,
    1439px 540px #fff, 474px 1515px #fff, 1677px 722px #fff, 415px 916px #fff,
    1775px 490px #fff, 1774px 1784px #fff, 1900px 1375px #fff,
    1379px 1592px #fff, 1379px 53px #fff, 665px 722px #fff, 1767px 1722px #fff,
    271px 1503px #fff, 391px 481px #fff, 912px 715px #fff, 1200px 1881px #fff,
    1218px 847px #fff, 173px 789px #fff, 697px 485px #fff, 1721px 1044px #fff,
    346px 1353px #fff, 100px 1527px #fff, 1409px 851px #fff, 702px 1218px #fff,
    1798px 820px #fff, 400px 37px #fff, 1532px 60px #fff, 967px 895px #fff,
    778px 81px #fff, 950px 1618px #fff, 271px 189px #fff, 1617px 1486px #fff,
    825px 511px #fff, 1344px 1393px #fff, 1639px 1069px #fff, 550px 1377px #fff,
    721px 53px #fff, 669px 239px #fff, 669px 1487px #fff, 934px 229px #fff,
    1136px 421px #fff, 1169px 1957px #fff, 1456px 939px #fff, 1369px 1584px #fff,
    1066px 206px #fff, 1204px 763px #fff, 498px 1293px #fff, 1271px 881px #fff,
    675px 40px #fff, 1110px 1910px #fff, 1634px 1945px #fff, 1847px 1143px #fff,
    210px 1806px #fff, 402px 1933px #fff, 1735px 1624px #fff, 1170px 467px #fff,
    943px 1978px #fff, 218px 1461px #fff, 243px 1167px #fff, 1448px 297px #fff,
    1970px 865px #fff, 1376px 1672px #fff, 353px 958px #fff, 546px 1638px #fff,
    1762px 1566px #fff, 152px 1516px #fff, 257px 789px #fff, 48px 1125px #fff,
    1616px 1979px #fff, 1201px 1023px #fff, 1867px 1963px #fff, 108px 814px #fff,
    1625px 1412px #fff, 901px 301px #fff, 718px 1430px #fff, 1889px 1065px #fff,
    1120px 1339px #fff, 1201px 1172px #fff, 1522px 1741px #fff, 361px 838px #fff,
    552px 238px #fff, 872px 609px #fff, 1440px 1718px #fff, 1168px 1939px #fff,
    1709px 16px #fff, 1980px 386px #fff, 1072px 1777px #fff, 1300px 32px #fff,
    1187px 1903px #fff, 1016px 1254px #fff, 961px 561px #fff, 961px 95px #fff,
    1345px 442px #fff, 1093px 310px #fff, 1479px 634px #fff, 245px 1448px #fff,
    380px 1992px #fff, 849px 1825px #fff, 1310px 882px #fff, 1235px 1533px #fff,
    826px 214px #fff, 1685px 102px #fff, 1881px 1575px #fff, 577px 662px #fff,
    824px 1494px #fff, 877px 1720px #fff, 407px 283px #fff, 1340px 495px #fff,
    321px 17px #fff, 1286px 1795px #fff, 1171px 1872px #fff, 1620px 1157px #fff,
    1428px 1495px #fff, 1078px 748px #fff, 1907px 1671px #fff, 91px 970px #fff,
    1576px 1383px #fff, 837px 384px #fff, 687px 1366px #fff, 1858px 1918px #fff,
    1485px 1353px #fff, 1359px 1853px #fff, 1989px 1331px #fff,
    1197px 1520px #fff, 541px 1555px #fff, 375px 1952px #fff, 468px 1535px #fff,
    1556px 1141px #fff, 1982px 1721px #fff, 645px 1126px #fff, 520px 115px #fff,
    771px 154px #fff, 292px 20px #fff, 826px 841px #fff, 225px 545px #fff,
    1179px 1504px #fff, 1495px 214px #fff, 1141px 1287px #fff, 6px 53px #fff,
    792px 1060px #fff, 991px 694px #fff, 108px 1192px #fff, 1434px 1631px #fff,
    1490px 1746px #fff, 769px 46px #fff, 1350px 447px #fff, 1525px 1078px #fff,
    694px 108px #fff, 895px 1465px #fff, 1259px 617px #fff, 874px 1443px #fff,
    1010px 891px #fff, 202px 456px #fff, 1512px 1823px #fff, 1539px 1449px #fff,
    1497px 1937px #fff, 1099px 1108px #fff, 599px 495px #fff, 455px 1164px #fff,
    1381px 1235px #fff, 1331px 1802px #fff, 1412px 1930px #fff,
    1947px 1356px #fff, 612px 575px #fff, 1817px 730px #fff, 519px 317px #fff,
    452px 198px #fff, 1289px 1716px #fff, 1080px 1708px #fff, 784px 1950px #fff,
    1599px 1125px #fff, 901px 288px #fff, 1882px 1082px #fff, 410px 1022px #fff,
    1725px 782px #fff, 1837px 1574px #fff, 1211px 664px #fff, 965px 819px #fff,
    371px 1529px #fff, 273px 12px #fff, 127px 203px #fff, 257px 554px #fff,
    179px 665px #fff, 726px 301px #fff, 73px 135px #fff, 1691px 123px #fff,
    1233px 1098px #fff, 901px 524px #fff, 276px 1529px #fff, 973px 1250px #fff,
    1931px 970px #fff, 1030px 1264px #fff, 489px 713px #fff, 129px 1947px #fff,
    350px 444px #fff, 1266px 456px #fff, 453px 1099px #fff, 979px 461px #fff,
    1318px 1709px #fff, 333px 661px #fff, 445px 1027px #fff, 894px 1650px #fff,
    318px 20px #fff, 1933px 356px #fff, 632px 1565px #fff, 765px 277px #fff,
    1875px 413px #fff, 1487px 1553px #fff, 1656px 594px #fff, 721px 243px #fff,
    1623px 1088px #fff, 510px 1980px #fff, 891px 1576px #fff, 190px 1984px #fff,
    1592px 1679px #fff, 1404px 155px #fff, 1838px 996px #fff, 1698px 1434px #fff,
    1585px 242px #fff, 1147px 1442px #fff, 419px 1287px #fff, 374px 868px #fff,
    1469px 229px #fff, 54px 686px #fff, 1055px 1696px #fff, 1912px 23px #fff,
    1975px 265px #fff, 1567px 1961px #fff, 763px 616px #fff, 1652px 1650px #fff,
    386px 297px #fff, 816px 269px #fff, 870px 1139px #fff, 1248px 388px #fff,
    1845px 1745px #fff, 1664px 1408px #fff, 429px 1073px #fff,
    1639px 1965px #fff, 147px 703px #fff, 672px 1810px #fff, 510px 42px #fff,
    1528px 1442px #fff, 93px 1687px #fff, 653px 799px #fff, 1272px 1624px #fff,
    678px 1637px #fff, 248px 1958px #fff, 663px 521px #fff, 493px 1901px #fff,
    1545px 1772px #fff, 1417px 785px #fff, 219px 248px #fff, 432px 1720px #fff,
    947px 779px #fff, 548px 1031px #fff, 998px 1531px #fff, 822px 570px #fff,
    1681px 554px #fff, 931px 910px #fff, 868px 1544px #fff, 850px 545px #fff,
    856px 1955px #fff, 773px 1605px #fff, 846px 525px #fff, 971px 1985px #fff,
    455px 989px #fff, 179px 5px #fff, 292px 1640px #fff, 1512px 687px #fff,
    675px 1899px #fff, 1958px 557px #fff, 1484px 989px #fff, 479px 1682px #fff,
    190px 670px #fff, 496px 688px #fff, 1482px 1145px #fff, 971px 23px #fff,
    1941px 181px #fff, 1512px 111px #fff, 1181px 1487px #fff, 1385px 1222px #fff,
    10px 1712px #fff, 14px 69px #fff, 874px 815px #fff, 1286px 381px #fff,
    1761px 125px #fff, 1439px 1409px #fff, 726px 1241px #fff, 1948px 1104px #fff,
    746px 1265px #fff, 186px 1824px #fff, 222px 1677px #fff, 457px 1367px #fff,
    782px 403px #fff, 1430px 271px #fff, 42px 768px #fff, 1712px 567px #fff,
    1008px 730px #fff, 1515px 1386px #fff, 1040px 757px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1912px 1101px #fff, 1227px 40px #fff, 70px 1534px #fff,
    519px 1268px #fff, 276px 244px #fff, 1764px 1808px #fff, 1852px 1124px #fff,
    1164px 85px #fff, 1491px 1151px #fff, 1346px 521px #fff, 1322px 653px #fff,
    338px 1396px #fff, 408px 1866px #fff, 61px 1005px #fff, 205px 1191px #fff,
    790px 1156px #fff, 1716px 71px #fff, 33px 1486px #fff, 918px 598px #fff,
    1914px 1120px #fff, 719px 1514px #fff, 1507px 1572px #fff,
    1064px 1205px #fff, 1730px 1681px #fff, 723px 1585px #fff, 1907px 16px #fff,
    81px 1819px #fff, 1777px 693px #fff, 1052px 1189px #fff, 1659px 1974px #fff,
    280px 1149px #fff, 1631px 1679px #fff, 1912px 1182px #fff,
    1932px 1056px #fff, 737px 1285px #fff, 1441px 788px #fff, 1040px 1190px #fff,
    1674px 1026px #fff, 1258px 102px #fff, 1113px 304px #fff, 161px 644px #fff,
    1442px 66px #fff, 97px 1383px #fff, 925px 967px #fff, 1473px 242px #fff,
    1203px 605px #fff, 709px 320px #fff, 189px 1022px #fff, 141px 989px #fff,
    1033px 1785px #fff, 1572px 819px #fff, 1874px 1048px #fff, 1241px 141px #fff,
    1396px 1209px #fff, 1744px 483px #fff, 737px 1651px #fff, 1560px 280px #fff,
    1536px 1997px #fff, 43px 593px #fff, 1804px 1131px #fff, 1831px 1437px #fff,
    569px 202px #fff, 86px 464px #fff, 1153px 1122px #fff, 963px 1523px #fff,
    684px 1956px #fff, 1567px 1173px #fff, 442px 1476px #fff, 868px 791px #fff,
    1498px 278px #fff, 408px 225px #fff, 1818px 1347px #fff, 876px 1010px #fff,
    883px 624px #fff, 369px 1485px #fff, 1694px 1231px #fff, 1537px 565px #fff,
    1680px 636px #fff, 1152px 1421px #fff, 665px 1689px #fff, 199px 523px #fff,
    1692px 1950px #fff, 1966px 835px #fff, 1614px 955px #fff, 1152px 1499px #fff,
    922px 1159px #fff, 1019px 705px #fff, 1143px 743px #fff, 405px 1839px #fff,
    1216px 1659px #fff, 1931px 610px #fff, 1679px 1547px #fff, 1px 1813px #fff,
    1222px 1555px #fff, 1792px 831px #fff, 1290px 197px #fff, 709px 308px #fff,
    246px 1166px #fff, 795px 1614px #fff, 760px 1220px #fff, 1740px 1289px #fff,
    1222px 593px #fff, 438px 902px #fff, 454px 499px #fff, 213px 1450px #fff,
    1563px 135px #fff, 875px 1005px #fff, 1241px 307px #fff, 865px 1263px #fff,
    1140px 1685px #fff, 878px 244px #fff, 1078px 451px #fff, 542px 1194px #fff,
    294px 505px #fff, 710px 171px #fff, 1390px 271px #fff, 435px 31px #fff,
    14px 1513px #fff, 1152px 452px #fff, 1193px 245px #fff, 1901px 578px #fff,
    306px 1628px #fff, 297px 1792px #fff, 1392px 363px #fff, 467px 1920px #fff,
    68px 84px #fff, 1426px 1124px #fff, 1271px 1386px #fff, 345px 1048px #fff,
    1212px 755px #fff, 46px 516px #fff, 1747px 810px #fff, 308px 1353px #fff,
    1540px 415px #fff, 247px 229px #fff, 1537px 958px #fff, 1235px 406px #fff,
    1534px 1718px #fff, 1887px 768px #fff, 145px 1813px #fff, 839px 994px #fff,
    1263px 731px #fff, 82px 1289px #fff, 1168px 1022px #fff, 1124px 272px #fff,
    1746px 1588px #fff, 1160px 823px #fff, 1584px 1261px #fff, 153px 315px #fff,
    1760px 1404px #fff, 1150px 140px #fff, 1415px 1212px #fff,
    1211px 1626px #fff, 1281px 1243px #fff, 1314px 1437px #fff,
    1873px 1998px #fff, 911px 1253px #fff, 718px 530px #fff, 1778px 1502px #fff,
    1658px 121px #fff, 336px 1435px #fff, 1234px 873px #fff, 619px 163px #fff,
    856px 369px #fff, 863px 1975px #fff, 1181px 1533px #fff, 711px 387px #fff,
    930px 1475px #fff, 1149px 1525px #fff, 745px 1471px #fff, 500px 1003px #fff,
    1242px 1953px #fff, 609px 318px #fff, 983px 615px #fff, 1969px 1423px #fff,
    224px 337px #fff, 469px 904px #fff, 722px 508px #fff, 456px 713px #fff,
    597px 4px #fff, 395px 138px #fff, 232px 1415px #fff, 617px 1016px #fff,
    1015px 973px #fff, 33px 366px #fff, 1567px 1717px #fff, 315px 506px #fff,
    1460px 79px #fff, 1486px 1535px #fff, 448px 978px #fff, 695px 1351px #fff,
    1138px 229px #fff, 502px 1699px #fff, 1975px 1892px #fff, 984px 513px #fff,
    952px 9px #fff, 1423px 1578px #fff, 923px 1831px #fff, 1854px 1801px #fff,
    686px 1277px #fff, 453px 1002px #fff, 1890px 491px #fff, 1021px 810px #fff,
    814px 1663px #fff, 1877px 1534px #fff, 1758px 61px #fff, 107px 1043px #fff,
    1498px 1884px #fff, 380px 1406px #fff, 656px 683px #fff, 1465px 936px #fff,
    961px 1773px #fff, 682px 1429px #fff, 1345px 1418px #fff, 1321px 677px #fff,
    1667px 1745px #fff, 503px 486px #fff, 1359px 214px #fff, 783px 1049px #fff,
    1864px 358px #fff, 1773px 1099px #fff, 1916px 669px #fff, 1447px 563px #fff,
    267px 498px #fff, 1446px 1830px #fff, 552px 1837px #fff, 1933px 183px #fff,
    503px 191px #fff, 9px 1247px #fff, 1118px 1598px #fff, 1779px 1144px #fff,
    843px 607px #fff, 1198px 1814px #fff, 1145px 726px #fff, 742px 1398px #fff,
    1372px 776px #fff, 358px 180px #fff, 942px 534px #fff, 1934px 476px #fff,
    1063px 908px #fff, 319px 1512px #fff, 423px 1510px #fff, 326px 966px #fff,
    1126px 773px #fff, 1027px 161px #fff, 1183px 939px #fff, 557px 1526px #fff,
    714px 1502px #fff, 488px 517px #fff, 200px 893px #fff, 184px 67px #fff,
    1888px 1377px #fff, 924px 979px #fff, 1667px 1512px #fff, 1815px 1564px #fff,
    1946px 135px #fff, 1624px 656px #fff, 364px 1199px #fff, 346px 1182px #fff,
    1573px 727px #fff, 790px 343px #fff, 1853px 502px #fff, 1324px 462px #fff,
    966px 1505px #fff, 997px 1978px #fff, 98px 445px #fff, 1796px 1850px #fff,
    1186px 1909px #fff, 1365px 1136px #fff, 1612px 1740px #fff,
    1943px 1979px #fff, 1762px 1412px #fff, 586px 1088px #fff, 1333px 455px #fff,
    1410px 117px #fff, 171px 1672px #fff, 1052px 1223px #fff, 1268px 193px #fff,
    1730px 707px #fff, 891px 599px #fff, 1028px 977px #fff, 1116px 327px #fff,
    1204px 1762px #fff, 28px 1364px #fff, 1485px 126px #fff, 938px 1949px #fff,
    1427px 1579px #fff, 1222px 245px #fff, 106px 302px #fff, 1944px 290px #fff,
    1278px 614px #fff, 850px 1792px #fff, 1684px 787px #fff, 8px 76px #fff,
    378px 1223px #fff, 1250px 526px #fff, 811px 1398px #fff, 1959px 605px #fff,
    1735px 1437px #fff, 1619px 1484px #fff, 485px 1123px #fff, 1407px 751px #fff,
    250px 974px #fff, 13px 1540px #fff, 61px 123px #fff, 1209px 1851px #fff,
    831px 128px #fff, 218px 1107px #fff, 1163px 768px #fff, 361px 1605px #fff,
    1277px 1636px #fff, 1226px 1649px #fff, 1255px 393px #fff,
    1096px 1847px #fff, 482px 1974px #fff, 1568px 464px #fff, 580px 932px #fff,
    1077px 1607px #fff, 34px 1840px #fff, 370px 744px #fff, 950px 1689px #fff,
    677px 565px #fff, 1442px 820px #fff, 1261px 322px #fff, 431px 1236px #fff,
    118px 1639px #fff, 1750px 1380px #fff, 216px 38px #fff, 926px 1976px #fff,
    46px 1718px #fff, 62px 1201px #fff, 1850px 711px #fff, 612px 1496px #fff,
    1587px 1659px #fff, 53px 1694px #fff, 768px 750px #fff, 132px 1142px #fff,
    1001px 873px #fff, 1216px 1696px #fff, 928px 1242px #fff, 132px 118px #fff,
    1863px 1980px #fff, 1718px 127px #fff, 767px 560px #fff, 503px 966px #fff,
    199px 1571px #fff, 1277px 788px #fff, 916px 304px #fff, 1934px 305px #fff,
    982px 1524px #fff, 372px 1764px #fff, 1038px 973px #fff, 266px 1758px #fff,
    525px 1776px #fff, 1558px 1359px #fff, 1638px 427px #fff, 432px 146px #fff,
    429px 312px #fff, 1430px 701px #fff, 1552px 829px #fff, 1279px 1190px #fff,
    887px 1033px #fff, 1593px 1428px #fff, 389px 1785px #fff, 365px 1833px #fff,
    606px 498px #fff, 1543px 682px #fff, 240px 188px #fff, 1272px 828px #fff,
    486px 94px #fff, 1350px 734px #fff, 135px 843px #fff, 1117px 1524px #fff,
    878px 1104px #fff, 726px 51px #fff, 1609px 1860px #fff, 377px 951px #fff,
    1592px 314px #fff, 1754px 781px #fff, 87px 1334px #fff, 1283px 760px #fff,
    585px 1593px #fff, 390px 582px #fff, 190px 162px #fff, 914px 1109px #fff,
    24px 647px #fff, 888px 1492px #fff, 1809px 1917px #fff, 1341px 4px #fff,
    1888px 1006px #fff, 1647px 1104px #fff, 314px 1411px #fff, 1062px 569px #fff,
    677px 125px #fff, 1510px 206px #fff, 1907px 1575px #fff, 236px 415px #fff,
    1213px 182px #fff, 561px 72px #fff, 1595px 1686px #fff, 1057px 272px #fff,
    1439px 540px #fff, 474px 1515px #fff, 1677px 722px #fff, 415px 916px #fff,
    1775px 490px #fff, 1774px 1784px #fff, 1900px 1375px #fff,
    1379px 1592px #fff, 1379px 53px #fff, 665px 722px #fff, 1767px 1722px #fff,
    271px 1503px #fff, 391px 481px #fff, 912px 715px #fff, 1200px 1881px #fff,
    1218px 847px #fff, 173px 789px #fff, 697px 485px #fff, 1721px 1044px #fff,
    346px 1353px #fff, 100px 1527px #fff, 1409px 851px #fff, 702px 1218px #fff,
    1798px 820px #fff, 400px 37px #fff, 1532px 60px #fff, 967px 895px #fff,
    778px 81px #fff, 950px 1618px #fff, 271px 189px #fff, 1617px 1486px #fff,
    825px 511px #fff, 1344px 1393px #fff, 1639px 1069px #fff, 550px 1377px #fff,
    721px 53px #fff, 669px 239px #fff, 669px 1487px #fff, 934px 229px #fff,
    1136px 421px #fff, 1169px 1957px #fff, 1456px 939px #fff, 1369px 1584px #fff,
    1066px 206px #fff, 1204px 763px #fff, 498px 1293px #fff, 1271px 881px #fff,
    675px 40px #fff, 1110px 1910px #fff, 1634px 1945px #fff, 1847px 1143px #fff,
    210px 1806px #fff, 402px 1933px #fff, 1735px 1624px #fff, 1170px 467px #fff,
    943px 1978px #fff, 218px 1461px #fff, 243px 1167px #fff, 1448px 297px #fff,
    1970px 865px #fff, 1376px 1672px #fff, 353px 958px #fff, 546px 1638px #fff,
    1762px 1566px #fff, 152px 1516px #fff, 257px 789px #fff, 48px 1125px #fff,
    1616px 1979px #fff, 1201px 1023px #fff, 1867px 1963px #fff, 108px 814px #fff,
    1625px 1412px #fff, 901px 301px #fff, 718px 1430px #fff, 1889px 1065px #fff,
    1120px 1339px #fff, 1201px 1172px #fff, 1522px 1741px #fff, 361px 838px #fff,
    552px 238px #fff, 872px 609px #fff, 1440px 1718px #fff, 1168px 1939px #fff,
    1709px 16px #fff, 1980px 386px #fff, 1072px 1777px #fff, 1300px 32px #fff,
    1187px 1903px #fff, 1016px 1254px #fff, 961px 561px #fff, 961px 95px #fff,
    1345px 442px #fff, 1093px 310px #fff, 1479px 634px #fff, 245px 1448px #fff,
    380px 1992px #fff, 849px 1825px #fff, 1310px 882px #fff, 1235px 1533px #fff,
    826px 214px #fff, 1685px 102px #fff, 1881px 1575px #fff, 577px 662px #fff,
    824px 1494px #fff, 877px 1720px #fff, 407px 283px #fff, 1340px 495px #fff,
    321px 17px #fff, 1286px 1795px #fff, 1171px 1872px #fff, 1620px 1157px #fff,
    1428px 1495px #fff, 1078px 748px #fff, 1907px 1671px #fff, 91px 970px #fff,
    1576px 1383px #fff, 837px 384px #fff, 687px 1366px #fff, 1858px 1918px #fff,
    1485px 1353px #fff, 1359px 1853px #fff, 1989px 1331px #fff,
    1197px 1520px #fff, 541px 1555px #fff, 375px 1952px #fff, 468px 1535px #fff,
    1556px 1141px #fff, 1982px 1721px #fff, 645px 1126px #fff, 520px 115px #fff,
    771px 154px #fff, 292px 20px #fff, 826px 841px #fff, 225px 545px #fff,
    1179px 1504px #fff, 1495px 214px #fff, 1141px 1287px #fff, 6px 53px #fff,
    792px 1060px #fff, 991px 694px #fff, 108px 1192px #fff, 1434px 1631px #fff,
    1490px 1746px #fff, 769px 46px #fff, 1350px 447px #fff, 1525px 1078px #fff,
    694px 108px #fff, 895px 1465px #fff, 1259px 617px #fff, 874px 1443px #fff,
    1010px 891px #fff, 202px 456px #fff, 1512px 1823px #fff, 1539px 1449px #fff,
    1497px 1937px #fff, 1099px 1108px #fff, 599px 495px #fff, 455px 1164px #fff,
    1381px 1235px #fff, 1331px 1802px #fff, 1412px 1930px #fff,
    1947px 1356px #fff, 612px 575px #fff, 1817px 730px #fff, 519px 317px #fff,
    452px 198px #fff, 1289px 1716px #fff, 1080px 1708px #fff, 784px 1950px #fff,
    1599px 1125px #fff, 901px 288px #fff, 1882px 1082px #fff, 410px 1022px #fff,
    1725px 782px #fff, 1837px 1574px #fff, 1211px 664px #fff, 965px 819px #fff,
    371px 1529px #fff, 273px 12px #fff, 127px 203px #fff, 257px 554px #fff,
    179px 665px #fff, 726px 301px #fff, 73px 135px #fff, 1691px 123px #fff,
    1233px 1098px #fff, 901px 524px #fff, 276px 1529px #fff, 973px 1250px #fff,
    1931px 970px #fff, 1030px 1264px #fff, 489px 713px #fff, 129px 1947px #fff,
    350px 444px #fff, 1266px 456px #fff, 453px 1099px #fff, 979px 461px #fff,
    1318px 1709px #fff, 333px 661px #fff, 445px 1027px #fff, 894px 1650px #fff,
    318px 20px #fff, 1933px 356px #fff, 632px 1565px #fff, 765px 277px #fff,
    1875px 413px #fff, 1487px 1553px #fff, 1656px 594px #fff, 721px 243px #fff,
    1623px 1088px #fff, 510px 1980px #fff, 891px 1576px #fff, 190px 1984px #fff,
    1592px 1679px #fff, 1404px 155px #fff, 1838px 996px #fff, 1698px 1434px #fff,
    1585px 242px #fff, 1147px 1442px #fff, 419px 1287px #fff, 374px 868px #fff,
    1469px 229px #fff, 54px 686px #fff, 1055px 1696px #fff, 1912px 23px #fff,
    1975px 265px #fff, 1567px 1961px #fff, 763px 616px #fff, 1652px 1650px #fff,
    386px 297px #fff, 816px 269px #fff, 870px 1139px #fff, 1248px 388px #fff,
    1845px 1745px #fff, 1664px 1408px #fff, 429px 1073px #fff,
    1639px 1965px #fff, 147px 703px #fff, 672px 1810px #fff, 510px 42px #fff,
    1528px 1442px #fff, 93px 1687px #fff, 653px 799px #fff, 1272px 1624px #fff,
    678px 1637px #fff, 248px 1958px #fff, 663px 521px #fff, 493px 1901px #fff,
    1545px 1772px #fff, 1417px 785px #fff, 219px 248px #fff, 432px 1720px #fff,
    947px 779px #fff, 548px 1031px #fff, 998px 1531px #fff, 822px 570px #fff,
    1681px 554px #fff, 931px 910px #fff, 868px 1544px #fff, 850px 545px #fff,
    856px 1955px #fff, 773px 1605px #fff, 846px 525px #fff, 971px 1985px #fff,
    455px 989px #fff, 179px 5px #fff, 292px 1640px #fff, 1512px 687px #fff,
    675px 1899px #fff, 1958px 557px #fff, 1484px 989px #fff, 479px 1682px #fff,
    190px 670px #fff, 496px 688px #fff, 1482px 1145px #fff, 971px 23px #fff,
    1941px 181px #fff, 1512px 111px #fff, 1181px 1487px #fff, 1385px 1222px #fff,
    10px 1712px #fff, 14px 69px #fff, 874px 815px #fff, 1286px 381px #fff,
    1761px 125px #fff, 1439px 1409px #fff, 726px 1241px #fff, 1948px 1104px #fff,
    746px 1265px #fff, 186px 1824px #fff, 222px 1677px #fff, 457px 1367px #fff,
    782px 403px #fff, 1430px 271px #fff, 42px 768px #fff, 1712px 567px #fff,
    1008px 730px #fff, 1515px 1386px #fff, 1040px 757px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 998px 749px #fff, 1123px 1439px #fff, 1212px 1398px #fff,
    1454px 1713px #fff, 1400px 141px #fff, 856px 450px #fff, 1213px 833px #fff,
    894px 290px #fff, 1453px 794px #fff, 176px 1390px #fff, 576px 153px #fff,
    261px 1647px #fff, 830px 734px #fff, 72px 530px #fff, 144px 154px #fff,
    573px 1299px #fff, 262px 1379px #fff, 660px 1222px #fff, 1003px 192px #fff,
    1299px 172px #fff, 1098px 141px #fff, 994px 1685px #fff, 1609px 335px #fff,
    891px 419px #fff, 1918px 1970px #fff, 275px 678px #fff, 1270px 1696px #fff,
    852px 521px #fff, 1935px 310px #fff, 865px 230px #fff, 1526px 621px #fff,
    1202px 852px #fff, 1186px 748px #fff, 1556px 830px #fff, 843px 1912px #fff,
    1972px 1685px #fff, 475px 1489px #fff, 1489px 36px #fff, 672px 555px #fff,
    1616px 1515px #fff, 561px 1441px #fff, 354px 300px #fff, 924px 908px #fff,
    1897px 977px #fff, 1853px 275px #fff, 1790px 1998px #fff, 1401px 364px #fff,
    820px 1061px #fff, 17px 410px #fff, 1586px 302px #fff, 944px 850px #fff,
    1281px 1691px #fff, 590px 255px #fff, 91px 1544px #fff, 1357px 886px #fff,
    1164px 895px #fff, 1523px 1619px #fff, 1186px 1747px #fff,
    1671px 1563px #fff, 35px 664px #fff, 304px 1350px #fff, 392px 1778px #fff,
    1264px 86px #fff, 1208px 256px #fff, 1244px 1399px #fff, 1721px 902px #fff,
    1115px 940px #fff, 1890px 1892px #fff, 1331px 887px #fff, 1483px 421px #fff,
    1867px 753px #fff, 1095px 1050px #fff, 919px 1327px #fff, 1757px 40px #fff,
    163px 464px #fff, 878px 190px #fff, 27px 1680px #fff, 957px 493px #fff,
    1697px 262px #fff, 1707px 1962px #fff, 640px 980px #fff, 775px 604px #fff,
    1427px 1573px #fff, 55px 1500px #fff, 1438px 886px #fff, 1549px 1706px #fff,
    1183px 1670px #fff, 1105px 411px #fff, 1834px 1268px #fff,
    1254px 1008px #fff, 1001px 248px #fff, 1873px 1367px #fff, 1357px 203px #fff,
    1908px 452px #fff, 1356px 1231px #fff, 921px 805px #fff, 148px 973px #fff,
    1458px 657px #fff, 39px 984px #fff, 724px 225px #fff, 492px 1839px #fff,
    1628px 97px #fff, 845px 637px #fff, 1402px 190px #fff, 972px 626px #fff,
    1307px 1281px #fff, 740px 1870px #fff, 195px 1688px #fff, 779px 930px #fff,
    1395px 1312px #fff, 527px 931px #fff, 396px 1860px #fff, 424px 1275px #fff,
    1953px 735px #fff, 1804px 1422px #fff, 1221px 1081px #fff, 212px 760px #fff,
    1770px 1088px #fff, 1641px 116px #fff, 1231px 313px #fff, 152px 772px #fff,
    1914px 1757px #fff, 20px 1846px #fff, 1490px 643px #fff, 320px 1331px #fff,
    702px 1425px #fff, 1794px 647px #fff, 237px 437px #fff, 292px 299px #fff,
    416px 90px #fff, 119px 669px #fff, 801px 1714px #fff, 370px 802px #fff,
    542px 1544px #fff, 1913px 49px #fff, 679px 229px #fff, 733px 1568px #fff,
    1758px 1341px #fff, 1332px 1481px #fff, 1907px 1316px #fff,
    1720px 940px #fff, 1638px 78px #fff, 1644px 1615px #fff, 1356px 295px #fff,
    211px 1668px #fff, 155px 1758px #fff, 1921px 67px #fff, 1965px 622px #fff,
    1735px 1875px #fff, 585px 104px #fff, 95px 1108px #fff, 457px 652px #fff,
    96px 1442px #fff, 963px 275px #fff, 1979px 1802px #fff, 480px 203px #fff,
    1893px 1168px #fff, 34px 696px #fff, 514px 1720px #fff, 27px 1030px #fff,
    983px 1100px #fff, 1672px 505px #fff, 868px 843px #fff, 1438px 1839px #fff,
    1754px 446px #fff, 1299px 978px #fff, 1972px 404px #fff, 1984px 138px #fff,
    946px 1962px #fff, 511px 712px #fff, 1422px 376px #fff, 729px 1370px #fff,
    1170px 1713px #fff, 550px 1360px #fff, 263px 768px #fff, 79px 125px #fff,
    1082px 968px #fff, 487px 1403px #fff, 1210px 1652px #fff, 1838px 950px #fff,
    105px 1602px #fff, 1459px 1400px #fff, 565px 1453px #fff, 1355px 156px #fff,
    677px 1535px #fff, 601px 1922px #fff, 1911px 1521px #fff, 1098px 1398px #fff,
    905px 1015px #fff, 1357px 1481px #fff, 217px 1538px #fff, 399px 1924px #fff,
    1854px 1408px #fff, 713px 1235px #fff, 454px 152px #fff, 643px 1305px #fff,
    952px 750px #fff, 1713px 58px #fff, 1633px 1791px #fff, 1826px 1366px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 998px 749px #fff, 1123px 1439px #fff, 1212px 1398px #fff,
    1454px 1713px #fff, 1400px 141px #fff, 856px 450px #fff, 1213px 833px #fff,
    894px 290px #fff, 1453px 794px #fff, 176px 1390px #fff, 576px 153px #fff,
    261px 1647px #fff, 830px 734px #fff, 72px 530px #fff, 144px 154px #fff,
    573px 1299px #fff, 262px 1379px #fff, 660px 1222px #fff, 1003px 192px #fff,
    1299px 172px #fff, 1098px 141px #fff, 994px 1685px #fff, 1609px 335px #fff,
    891px 419px #fff, 1918px 1970px #fff, 275px 678px #fff, 1270px 1696px #fff,
    852px 521px #fff, 1935px 310px #fff, 865px 230px #fff, 1526px 621px #fff,
    1202px 852px #fff, 1186px 748px #fff, 1556px 830px #fff, 843px 1912px #fff,
    1972px 1685px #fff, 475px 1489px #fff, 1489px 36px #fff, 672px 555px #fff,
    1616px 1515px #fff, 561px 1441px #fff, 354px 300px #fff, 924px 908px #fff,
    1897px 977px #fff, 1853px 275px #fff, 1790px 1998px #fff, 1401px 364px #fff,
    820px 1061px #fff, 17px 410px #fff, 1586px 302px #fff, 944px 850px #fff,
    1281px 1691px #fff, 590px 255px #fff, 91px 1544px #fff, 1357px 886px #fff,
    1164px 895px #fff, 1523px 1619px #fff, 1186px 1747px #fff,
    1671px 1563px #fff, 35px 664px #fff, 304px 1350px #fff, 392px 1778px #fff,
    1264px 86px #fff, 1208px 256px #fff, 1244px 1399px #fff, 1721px 902px #fff,
    1115px 940px #fff, 1890px 1892px #fff, 1331px 887px #fff, 1483px 421px #fff,
    1867px 753px #fff, 1095px 1050px #fff, 919px 1327px #fff, 1757px 40px #fff,
    163px 464px #fff, 878px 190px #fff, 27px 1680px #fff, 957px 493px #fff,
    1697px 262px #fff, 1707px 1962px #fff, 640px 980px #fff, 775px 604px #fff,
    1427px 1573px #fff, 55px 1500px #fff, 1438px 886px #fff, 1549px 1706px #fff,
    1183px 1670px #fff, 1105px 411px #fff, 1834px 1268px #fff,
    1254px 1008px #fff, 1001px 248px #fff, 1873px 1367px #fff, 1357px 203px #fff,
    1908px 452px #fff, 1356px 1231px #fff, 921px 805px #fff, 148px 973px #fff,
    1458px 657px #fff, 39px 984px #fff, 724px 225px #fff, 492px 1839px #fff,
    1628px 97px #fff, 845px 637px #fff, 1402px 190px #fff, 972px 626px #fff,
    1307px 1281px #fff, 740px 1870px #fff, 195px 1688px #fff, 779px 930px #fff,
    1395px 1312px #fff, 527px 931px #fff, 396px 1860px #fff, 424px 1275px #fff,
    1953px 735px #fff, 1804px 1422px #fff, 1221px 1081px #fff, 212px 760px #fff,
    1770px 1088px #fff, 1641px 116px #fff, 1231px 313px #fff, 152px 772px #fff,
    1914px 1757px #fff, 20px 1846px #fff, 1490px 643px #fff, 320px 1331px #fff,
    702px 1425px #fff, 1794px 647px #fff, 237px 437px #fff, 292px 299px #fff,
    416px 90px #fff, 119px 669px #fff, 801px 1714px #fff, 370px 802px #fff,
    542px 1544px #fff, 1913px 49px #fff, 679px 229px #fff, 733px 1568px #fff,
    1758px 1341px #fff, 1332px 1481px #fff, 1907px 1316px #fff,
    1720px 940px #fff, 1638px 78px #fff, 1644px 1615px #fff, 1356px 295px #fff,
    211px 1668px #fff, 155px 1758px #fff, 1921px 67px #fff, 1965px 622px #fff,
    1735px 1875px #fff, 585px 104px #fff, 95px 1108px #fff, 457px 652px #fff,
    96px 1442px #fff, 963px 275px #fff, 1979px 1802px #fff, 480px 203px #fff,
    1893px 1168px #fff, 34px 696px #fff, 514px 1720px #fff, 27px 1030px #fff,
    983px 1100px #fff, 1672px 505px #fff, 868px 843px #fff, 1438px 1839px #fff,
    1754px 446px #fff, 1299px 978px #fff, 1972px 404px #fff, 1984px 138px #fff,
    946px 1962px #fff, 511px 712px #fff, 1422px 376px #fff, 729px 1370px #fff,
    1170px 1713px #fff, 550px 1360px #fff, 263px 768px #fff, 79px 125px #fff,
    1082px 968px #fff, 487px 1403px #fff, 1210px 1652px #fff, 1838px 950px #fff,
    105px 1602px #fff, 1459px 1400px #fff, 565px 1453px #fff, 1355px 156px #fff,
    677px 1535px #fff, 601px 1922px #fff, 1911px 1521px #fff, 1098px 1398px #fff,
    905px 1015px #fff, 1357px 1481px #fff, 217px 1538px #fff, 399px 1924px #fff,
    1854px 1408px #fff, 713px 1235px #fff, 454px 152px #fff, 643px 1305px #fff,
    952px 750px #fff, 1713px 58px #fff, 1633px 1791px #fff, 1826px 1366px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1880px 1662px #fff, 880px 868px #fff, 1856px 1504px #fff,
    587px 1602px #fff, 593px 1072px #fff, 910px 249px #fff, 1012px 15px #fff,
    1576px 1487px #fff, 74px 718px #fff, 229px 1389px #fff, 587px 345px #fff,
    51px 948px #fff, 1543px 72px #fff, 663px 1361px #fff, 977px 70px #fff,
    456px 1643px #fff, 1536px 948px #fff, 865px 1660px #fff, 12px 1919px #fff,
    1322px 545px #fff, 96px 38px #fff, 544px 736px #fff, 1289px 100px #fff,
    1001px 1705px #fff, 1498px 881px #fff, 1941px 1153px #fff, 1246px 427px #fff,
    1009px 1995px #fff, 743px 89px #fff, 502px 413px #fff, 604px 172px #fff,
    478px 1116px #fff, 154px 558px #fff, 621px 1937px #fff, 599px 1110px #fff,
    355px 541px #fff, 1910px 151px #fff, 1066px 380px #fff, 1370px 990px #fff,
    1403px 1238px #fff, 1085px 1651px #fff, 1353px 1737px #fff,
    659px 1863px #fff, 678px 1828px #fff, 1848px 299px #fff, 1755px 1340px #fff,
    1756px 496px #fff, 1314px 682px #fff, 1510px 530px #fff, 1360px 1909px #fff,
    163px 6px #fff, 1155px 1820px #fff, 1633px 1004px #fff, 1959px 1496px #fff,
    1152px 1319px #fff, 1075px 278px #fff, 294px 1295px #fff, 669px 327px #fff,
    528px 354px #fff, 1369px 1411px #fff, 1571px 815px #fff, 1202px 70px #fff,
    1318px 447px #fff, 499px 161px #fff, 1402px 1445px #fff, 1572px 344px #fff,
    705px 1920px #fff, 902px 1284px #fff, 131px 1213px #fff, 1005px 753px #fff,
    120px 363px #fff, 352px 1672px #fff, 187px 1516px #fff, 1401px 1418px #fff,
    572px 1844px #fff, 946px 1280px #fff, 739px 245px #fff, 268px 1874px #fff,
    1882px 475px #fff, 870px 1099px #fff, 927px 740px #fff, 1554px 1417px #fff,
    1733px 463px #fff, 1358px 1845px #fff, 354px 150px #fff, 1657px 491px #fff,
    1561px 1125px #fff, 1520px 1669px #fff, 1185px 831px #fff,
    1345px 1382px #fff, 1493px 855px #fff, 1339px 124px #fff, 1637px 835px #fff,
    276px 1510px #fff, 1955px 501px #fff, 1321px 1199px #fff, 1576px 768px #fff,
    1489px 560px #fff, 1050px 212px #fff, 259px 34px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1880px 1662px #fff, 880px 868px #fff, 1856px 1504px #fff,
    587px 1602px #fff, 593px 1072px #fff, 910px 249px #fff, 1012px 15px #fff,
    1576px 1487px #fff, 74px 718px #fff, 229px 1389px #fff, 587px 345px #fff,
    51px 948px #fff, 1543px 72px #fff, 663px 1361px #fff, 977px 70px #fff,
    456px 1643px #fff, 1536px 948px #fff, 865px 1660px #fff, 12px 1919px #fff,
    1322px 545px #fff, 96px 38px #fff, 544px 736px #fff, 1289px 100px #fff,
    1001px 1705px #fff, 1498px 881px #fff, 1941px 1153px #fff, 1246px 427px #fff,
    1009px 1995px #fff, 743px 89px #fff, 502px 413px #fff, 604px 172px #fff,
    478px 1116px #fff, 154px 558px #fff, 621px 1937px #fff, 599px 1110px #fff,
    355px 541px #fff, 1910px 151px #fff, 1066px 380px #fff, 1370px 990px #fff,
    1403px 1238px #fff, 1085px 1651px #fff, 1353px 1737px #fff,
    659px 1863px #fff, 678px 1828px #fff, 1848px 299px #fff, 1755px 1340px #fff,
    1756px 496px #fff, 1314px 682px #fff, 1510px 530px #fff, 1360px 1909px #fff,
    163px 6px #fff, 1155px 1820px #fff, 1633px 1004px #fff, 1959px 1496px #fff,
    1152px 1319px #fff, 1075px 278px #fff, 294px 1295px #fff, 669px 327px #fff,
    528px 354px #fff, 1369px 1411px #fff, 1571px 815px #fff, 1202px 70px #fff,
    1318px 447px #fff, 499px 161px #fff, 1402px 1445px #fff, 1572px 344px #fff,
    705px 1920px #fff, 902px 1284px #fff, 131px 1213px #fff, 1005px 753px #fff,
    120px 363px #fff, 352px 1672px #fff, 187px 1516px #fff, 1401px 1418px #fff,
    572px 1844px #fff, 946px 1280px #fff, 739px 245px #fff, 268px 1874px #fff,
    1882px 475px #fff, 870px 1099px #fff, 927px 740px #fff, 1554px 1417px #fff,
    1733px 463px #fff, 1358px 1845px #fff, 354px 150px #fff, 1657px 491px #fff,
    1561px 1125px #fff, 1520px 1669px #fff, 1185px 831px #fff,
    1345px 1382px #fff, 1493px 855px #fff, 1339px 124px #fff, 1637px 835px #fff,
    276px 1510px #fff, 1955px 501px #fff, 1321px 1199px #fff, 1576px 768px #fff,
    1489px 560px #fff, 1050px 212px #fff, 259px 34px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* hero */

/* app-store-download */
.app-store-download {
  margin-bottom: 50px;
}
.app-store-download p {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}
.app-store-download h2 {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
/* Style for the button container */
.app-store-download .download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #064054;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 22px;
  font-weight: 700;
}

/* Style for the Font Awesome icon */
.app-store-download .download-button i {
  margin-right: 10px;
}

.app-store-download .img {
  max-height: 500px;
  max-width: 300px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0 auto;
}
.app-store-download .img img {
  max-height: 500px;
  width: 100%;
  height: 100%;
}

.app-store-download .marquee {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.app-store-download .marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 300px;
  content: "";
  z-index: 1;
}
.app-store-download .marquee:before {
  left: 0;
  background: linear-gradient(to right, black 5%, transparent 100%);
}
.app-store-download .marquee:after {
  right: 0;
  background: linear-gradient(to left, black 5%, transparent 100%);
}

.app-store-download .marquee__content {
  width: 245rem !important;
  /* width: 500% !important; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  line-height: 30px;
  -webkit-animation: marquee 70s linear infinite forwards;
  animation: marquee 70s linear infinite forwards;
}
.app-store-download .marquee__content:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.app-store-download .list-inline {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  /* width: 33.33%; */
  width: 100%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
.app-store-download .list-inline li {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/* app-store-download */

/* weekly update */
.weekly-update {
  margin-bottom: 50px;
}
.weekly-update h4 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.weekly-update p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.weekly-update ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #064054;
  padding: 30px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.weekly-update ul li {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 10px;
  flex: 1 1 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* weekly update */

/* play with watch */
.play-with-watch {
  margin-bottom: 50px;
}
.play-with-watch h4 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.play-with-watch p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.play-with-watch video {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
}

/* play with watch */

/* client-review */
.client-review {
}
.client-review {
  margin-bottom: 50px;
}
.client-review h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.client-review a {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  background: rgb(13, 56, 72);
  max-width: 600px;
  border-radius: 20px;
  padding: 10px 3rem;
  background: #0d3848;
}
.client-review a i {
  font-weight: 600;
}

.client-review .swiper .swiper-wrapper .swiper-slide .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.client-review .swiper .swiper-wrapper .swiper-slide .title h4 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.client-review .swiper .swiper-wrapper .swiper-slide .title ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.client-review .swiper .swiper-wrapper .swiper-slide .title ul li i {
  color: #fff;
}
.client-review .swiper .swiper-wrapper .swiper-slide p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.client-review .swiper .swiper-wrapper .swiper-slide img {
  max-width: 400px;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.client-review .swiper .swiper-wrapper .swiper-slide.swiper-slide-active img {
  visibility: visible;
}
.client-review a {
  margin-top: 80px;
}
/* client-review */

/* footer */
footer .navbar-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  padding: 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #fff;
}
footer .navbar-brand:hover {
  color: #fff;
}
footer .navbar-brand img {
  border-radius: 10px;
}

/* tiny footer */
.tiny-footer P {
  font-size: 14px;
  font-weight: 400;
  color: #dde2e9;
}
.tiny-footer a {
  color: #2cbae4;
}
/* responsive */
@media (min-width: 1400px) and (max-width: 1500px) {
}
@media (min-width: 1300px) and (max-width: 1399px) {
}
@media (min-width: 1024px) and (max-width: 1299px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 769px) and (max-width: 991px) {
  .app-store-download p {
    text-align: center;
  }
  .app-store-download h2 {
    text-align: center;
  }
  .app-store-download .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .weekly-update ul li {
    flex: 0 0 auto;
  }
  .client-review .swiper .swiper-wrapper .swiper-slide img {
    max-height: 550px;
  }
  .client-review .imageSlider {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .app-store-download p {
    text-align: center;
  }
  .app-store-download h2 {
    text-align: center;
  }
  .app-store-download .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .weekly-update ul li {
    flex: 0 0 auto;
  }
  .client-review .swiper .swiper-wrapper .swiper-slide img {
    max-height: 550px;
  }
  .client-review .imageSlider {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  header .navbar .navbar-brand {
    font-size: 14px;
  }
  header .navbar .navbar-brand img {
    max-width: 40px;
    max-height: 40px;
  }
  .hero h2 {
    font-size: 19px;
  }
  .hero a {
    font-size: 18px;
    padding: 10px 1rem;
  }
  .app-store-download p {
    font-size: 16px;
  }
  .app-store-download h2 {
    font-size: 19px;
  }
  .app-store-download .download-button {
    font-size: 18px;
  }
  .app-store-download img {
    /* object-fit: fill; */
    max-height: 400px;
  }
  .weekly-update h4 {
    font-size: 18px;
  }
  .weekly-update p {
    font-size: 14px;
  }
  .weekly-update ul {
    padding: 20px 15px;
  }
  .weekly-update ul li {
    flex: 1 0 auto;
  }
  .play-with-watch video {
    margin-bottom: 30px;
  }
  .play-with-watch h4 {
    font-size: 18px;
    text-align: center;
  }
  .play-with-watch p {
    font-size: 14px;
    text-align: center;
  }
  .client-review h2 {
    font-size: 18px;
  }
  .client-review .swiper .swiper-wrapper .swiper-slide .title h4 {
    font-size: 18px;
  }
  .client-review .swiper .swiper-wrapper .swiper-slide .title ul li i {
    font-size: 12px;
  }
  .client-review .swiper .swiper-wrapper .swiper-slide p {
    font-size: 14px;
  }
  .client-review a {
    margin-top: 30px;
    font-size: 16px;
    padding: 10px 1rem;
  }
  footer .navbar-brand {
    font-size: 16px;
  }
  footer .navbar-brand img {
    max-width: 40px;
    max-height: 40px;
  }
  .tiny-footer P {
    font-size: 12px;
  }
}
/* responsive */
